<% if(user){ %>
    <div class="col s12 l3">
        <div class="card">
            <div class="card-content">
                <h5 class="indigo-text text-darken-3 truncate"><%= mock.mockName%></h5>
                <a class="btn cat" href="#"><%= mock.category%></a>
                <p>Set No. <%= mock.setNo%></p>                            
                <p>Question: <%= mock.questionBody.length %></p>
                <% if(mock.status=="Unattempted"){ %>
                    <div class="ribbon ribbon-u"><span>Unattempted</span></div>
                    <p>Time: <%= mock.mockTime ? `${mock.mockTime} min` : "90 min" %></p>
                    <p class="btn-wide">
                        <a href="/take-mock/instructions/<%=mock._id%>" class="btn btn-small waves-effect waves-light">Take Mock</a>
                    </p>                                
                <% } else{ %>
                    <div class="ribbon ribbon-a"><span>Attempted</span></div>
                    <p>Your Score: <%= mock.marks%></p>
                    <p class="btn-wide">
                        <a href="/take-mock/<%=mock._id%>" class="btn btn-small waves-effect waves-light">Check Result</a>
                    </p>
                <% } %> 
            </div>
        </div> 
    </div>
<% } else{ %>
    <div class="col s12 l3">
        <div class="card">
            <div class="card-content">
                <h5 class="indigo-text text-darken-3"><%= mock.mockName%></h5>
                <a class="btn cat" href="#"><%= mock.category%></a>
                <p>Set No. <%= mock.setNo%></p>
                <p>Question: <%= mock.questionBody.length %></p>
                <div class="ribbon ribbon-u"><span>Unattempted</span></div>
                <p>Time: <%= mock.mockTime ? `${mock.mockTime} min` : "90 min" %></p>                                                        
                <p class="btn-wide">
                    <a href="/auth/login" class="btn btn-small waves-effect waves-light">Take Test</a>
                </p>                    
            </div>
        </div> 
    </div>
<% } %>
