<%- include('partials/header') %>
<%- include('partials/menu') %>

<section class="section" id="dashboard-content">
    <div class="row container">
        <h5 class="teal center-align white-text text-darken-3 padding-h z-depth-2">HSSC Online Tests 2020</h5>
        <% if(mocks){ %>
            <% mocks.forEach(mock=>{ %>
                <div class="col s6 l3">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="indigo-text text-darken-3"><%= mock.mockName%></h5>
                            <a class="btn cat" href="#"><%= mock.category%></a>
                            <p>Set No. <%= mock.setNo%></p>
                            <p>Question: 90</p>
                            <% if(mock.status=="Unattempted"){ %>
                                <div class="ribbon ribbon-u"><span>Unattempted</span></div>
                                <p>Time: 90 Min</p>
                                <p class="btn-wide">
                                    <a href="/take-mock/instructions/<%=mock._id%>" class="btn btn-small waves-effect waves-light">Take Test</a>
                                </p>                                
                            <% } else{ %>
                                <div class="ribbon ribbon-a"><span>Attempted</span></div>
                                <p>Your Score: <%= mock.marks%></p>
                                <p class="btn-wide">
                                    <a href="/take-mock/<%=mock._id%>" class="btn btn-small waves-effect waves-light">Take Test</a>
                                </p>
                            <% } %>                         
                                                
                        </div>
                    </div> 
                </div>
            <% }) %>     
        <%} else{ %>
            <h4>Sorry! No Mocks found.</h4>
        <% } %> 
    </div> 
</section>
<section class="section">
    <div class="row container">
        <div class="col s12">
            <h5 class="teal center-align padding-h grey-text text-lighten-4 z-depth-2">
                Selection Process:
            </h5>
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Exam: Total 100 Marks</h5>
                </li>
                <li class="collection-item">Written Exam: 90 Marks</li>
                <li class="collection-item">Socio-Economic Criteria and Experience: 10 Marks</li>
            </ul>
        </div>
    </div>
    <div class="row container">
        <div class="col s12">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Exam Scheme</h5>
                </li>
                <li class="collection-item">75% weightage of:
                    <ol>
                        <li>
                            General Awareness
                        </li>
                        <li>
                            Reasoning
                        </li>
                        <li>
                            Mathematics
                        </li>
                        <li>
                            Science
                        </li>
                        <li>
                            English & Hindi
                        </li>                        
                    </ol>
                </li>
                <li class="collection-item">25% Weightage for History, Current Affairs, Literature, Geography, Civics, Environment, culture etc. of Haryana.</li>
            </ul>
        </div>
    </div>
</section>
<%- include('partials/footer') %>