<%- include('partials/header') %>
<%- include('partials/menu') %>

<section class="section responsive-img" id="bg-image">
</section>

<section class="section" id="dashboard-content">
    <div class="row container">
        <h5 class="teal center-align white-text text-darken-3 padding-h z-depth-2">HSSC Online Mocks</h5>
        <% if(mocks){ %>
            <% mocks.forEach(mock=>{ %>
                <% if(mock.category=="HSSC") { %>
                    <%- include('partials/mock-cards',{mock}) %>
                <%}%>                
            <% }) %>     
        <%} else{ %>
            <h4>Sorry! No Mocks found.</h4>
        <% } %> 
    </div> 
    <div class="row container">
        <h5 class="teal center-align white-text text-darken-3 padding-h z-depth-2">SSC Online Mocks</h5>
        <% if(mocks){ %>
            <% mocks.forEach(mock=>{ %>
                <% if(mock.category=="SSC") { %>
                    <%- include('partials/mock-cards',{mock,user}) %>
                <%}%>                
            <% }) %>     
        <%} else{ %>
            <h4>Sorry! No Mocks found.</h4>
        <% } %> 
    </div> 
</section>
<%- include('partials/sub-section') %>
<%- include('partials/footer') %>