<%- include('partials/header') %>
<header>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Performance</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    <nav class="main-color">
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">eMock</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Hi, <%= user.username%><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
</header>

<section class="section" id="dashboard-content">
    <div class="row container">
        <% if(mocks){ %>
            <% mocks.forEach(mock=>{ %>
                <div class="col s6 l3">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="indigo-text text-darken-3"><%= mock.mockName%></h5>
                            <a class="btn cat" href="#"><%= mock.category%></a>
                            <p>Set No. <%= mock.setNo%></p>
                            <p>Question:90</p>
                            <% if(mock.status=="Unattempted"){ %>
                                <div class="ribbon ribbon-u"><span>Unattempted</span></div>
                                <p>Time:1Hr</p>                                
                            <% } else{ %>
                                <div class="ribbon ribbon-a"><span>Attempted</span></div>
                                <p>Your Score: <%= mock.marks%></p>
                            <% } %>                         
                            <p class="btn-wide">
                                <a href="/take-mock/<%= mock._id%>" class="btn btn-small waves-effect waves-light">Take Test</a>
                            </p>                    
                        </div>
                    </div> 
                </div>
            <% }) %>     
        <%} else{ %>
            <h4>Sorry! No Mocks found.</h4>
        <% } %> 
    </div> 
</section>
<%- include('partials/footer') %>