<%- include('partials/header') %>
<%- include('partials/menu') %>
<section class="section responsive-img" id="bg-image">
</section>
<section class="section" id="main">
    <div class="row container">
        <% if(mocks){ %>
            <% mocks.forEach(mock=>{ %>
                <div class="col s12 l3">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="indigo-text text-darken-3"><%= mock.mockName%></h5>
                            <a class="btn cat" href="#"><%= mock.category%></a>
                            <p>Set No. <%= mock.setNo%></p>
                            <p>Question: 90</p>
                            <div class="ribbon ribbon-u"><span>Unattempted</span></div>
                            <p>Time: 90 Min</p>                                                        
                            <p class="btn-wide">
                                <a href="/auth/login" class="btn btn-small waves-effect waves-light">Take Test</a>
                            </p>                    
                        </div>
                    </div> 
                </div>
            <% }) %>     
        <%} else{ %>
            <h4>Sorry! No Mocks found.</h4>
        <% } %>
    </div>
</section>
<%- include('partials/sub-section') %>
<%- include('partials/footer') %>