<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<section class="section" id="result-area">
    <div class="row container">
        <div class="col s3">
            <p>
                <img class="circle z-depth-1" src="<%=user.thumbnail%>" alt="profile-pic" width='70'>
            </p>            
            <p class="flow-text indigo-text text-darken-3">Hi, <%= user.username %></p>
        </div>
        <div class="col s9">
            <h5><%= mock.mockName %></h5>
            <p>Set No. <%= mock.setNo %></p>
            <p>Time Taken: <%= mock.timeTaken%></p>
            <p>Your Score: <%= mock.totalMarks %></p>

        </div>        
    </div>
    <div class="row container">
        <div class="col s6 l3">
            <div class="card  pink darken-1 grey-text text-lighten-4">
                <div class="card-content">
                    <p class="valign-wrapper">
                        <i class="material-icons">military_tech</i> <span><%=rank.rank %>/<%= rank.totalCandidates %></span>
                    </p>
                    <p>
                        Rank
                    </p>
                </div>
            </div>
        </div>
        <div class="col s6 l3">
            <div class="card blue accent-3 grey-text text-lighten-4">
                <div class="card-content">
                    <p class="valign-wrapper">
                        <i class="material-icons">emoji_events</i> <span><%= rA.length %>/<%=rA.length+wA.length+uA.length %></span>
                    </p>
                    <p>
                        Score
                    </p>
                </div>
            </div>
        </div>
        <div class="col s6 l3">
            <div class="card teal grey-text text-lighten-4">
                <div class="card-content">
                    <p class="valign-wrapper">
                        <i class="material-icons">assignment</i> <span><%=rA.length+wA.length%>/<%=rA.length+wA.length+uA.length %></span>
                    </p>
                    <p>
                        Attempted
                    </p>
                </div>
            </div>
        </div>
        <div class="col s6 l3">
            <div class="card orange darken-4 grey-text text-lighten-4">
                <div class="card-content">
                    <p class="valign-wrapper">
                        <i class="material-icons">album</i> <span> <%= ((rA.length/(rA.length+wA.length))*100).toFixed(2) %>%</span>
                    </p>
                    <p>
                        Accuracy
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="question-area">
    <div class="row container">
        <div class="col s12">
            <ul id="tabs-swipe-demo" class="tabs z-depth-1">
                <li class="tab col s4"><a class="active" href="#test-swipe-2">Right(<%= rA.length %>)</a></li>
                <li class="tab col s4"><a  href="#test-swipe-1">Wrong(<%= wA.length %>)</a></li>
                <li class="tab col s4"><a href="#test-swipe-3">Unattempted(<%= uA.length %>)</a></li>
            </ul>
                <div id="test-swipe-2" class="col s12">
                    <% rA.forEach(e=>{ %>
                        <h5>Question:<%= e.q_id %></h5>
                        <p><%= e.q_data %></p>                        
                        <% if (e.r_a=="a"){ %>
                            <p class="green">
                                <input type="radio" class="with-gap" disabled="disabled" checked/>
                                <span class="grey-text text-darken-3"><%= e.a %></span>
                            </p>    
                        <% }else if(e.r_a!="a"){ %>
                            <p>
                                <input type="radio" class="with-gap" disabled="disabled" />
                                <span class="grey-text text-darken-3"><%= e.a %></span>
                            </p>    
                        <% } %>

                        <% if (e.r_a=="b"){ %>
                            <p class="green">
                                <input type="radio" class="with-gap" disabled="disabled" checked/>
                                <span class="grey-text text-darken-3 "><%= e.b %></span>
                            </p>    
                        <% }else if(e.r_a!="b"){ %>
                            <p>
                                <input type="radio" class="with-gap" disabled="disabled" />
                                <span class="grey-text text-darken-3"><%= e.b %></span>
                            </p>    
                        <% } %>

                        <% if (e.r_a=="c"){ %>
                            <p class="green">
                                <input type="radio" class="with-gap" disabled="disabled" checked/>
                                <span class="grey-text text-darken-3"><%= e.c %></span>
                            </p>    
                        <% }else if(e.r_a!="c"){ %>
                            <p>
                                <input type="radio" class="with-gap" disabled="disabled" />
                                <span class="grey-text text-darken-3"><%= e.c %></span>
                            </p>    
                        <% } %>

                        <% if (e.r_a=="d"){ %>
                            <p class="green">
                                <input type="radio" class="with-gap" disabled="disabled" checked/>
                                <span class="grey-text text-darken-3"><%= e.d %></span>
                            </p>    
                        <% }else if(e.r_a!="d"){ %>
                            <p>
                                <input type="radio" class="with-gap" disabled="disabled" />
                                <span class="grey-text text-darken-3"><%= e.d %></span>
                            </p>    
                        <% } %>
                        
                        <div class="divider"></div>
                        
                    <%  }) %>                  
                </div>
                <div id="test-swipe-1" class="col s12">
                    <% wA.forEach(e=>{ %>
                        <h5>Question:<%= e.q_id %></h5>
                        <p><%= e.q_data %></p>                        
                        <% if (e.r_a=="a"){ %>
                            <p class="green">
                                <input type="radio" class="with-gap" disabled="disabled"/>
                                <span class="grey-text text-darken-3"><%= e.a %></span>
                            </p> 
                        <%} %>
                        <% if(e.c_a=="a"){ %> 
                            <p class="red">
                                <input type="radio" class="with-gap" disabled="disabled" checked/>
                                <span class="grey-text text-darken-3"><%= e.a %></span>
                            </p>      
                        <% }else if(e.r_a!="a" && e.c_a!="a"){ %>
                            <p>
                                <input type="radio" class="with-gap" disabled="disabled" />
                                <span class="grey-text text-darken-3"><%= e.a %></span>
                            </p>    
                        <% } %>

                        <% if (e.r_a=="b"){ %>
                            <p class="green">
                                <input type="radio" class="with-gap" disabled="disabled"/>
                                <span class="grey-text text-darken-3"><%= e.b %></span>
                            </p> 
                        <%} %>
                        <% if(e.c_a=="b"){ %> 
                            <p class="red">
                                <input type="radio" class="with-gap" disabled="disabled" checked/>
                                <span class="grey-text text-darken-3"><%= e.b %></span>
                            </p>      
                        <% }else if(e.r_a!="b" && e.c_a!="b"){ %>
                            <p>
                                <input type="radio" class="with-gap" disabled="disabled" />
                                <span class="grey-text text-darken-3"><%= e.b %></span>
                            </p>    
                        <% } %>

                        <% if (e.r_a=="c"){ %>
                            <p class="green">
                                <input type="radio" class="with-gap" disabled="disabled"/>
                                <span class="grey-text text-darken-3"><%= e.c %></span>
                            </p> 
                        <% } %>
                        <% if(e.c_a=="c"){ %> 
                            <p class="red">
                                <input type="radio" class="with-gap" disabled="disabled" checked/>
                                <span class="grey-text text-darken-3"><%= e.c %></span>
                            </p>      
                        <% }else if(e.r_a!="c" && e.c_a!="c"){ %>
                            <p>
                                <input type="radio" class="with-gap" disabled="disabled" />
                                <span class="grey-text text-darken-3"><%= e.c %></span>
                            </p>    
                        <% } %>

                        <% if (e.r_a=="d"){ %>
                            <p class="green">
                                <input type="radio" class="with-gap" disabled="disabled" />
                                <span class="grey-text text-darken-3"><%= e.d %></span>
                            </p> 
                        <%} %>
                        <% if(e.c_a=="d"){ %> 
                            <p class="red">
                                <input type="radio" class="with-gap" disabled="disabled" checked/>
                                <span class="grey-text text-darken-3"><%= e.d %></span>
                            </p>      
                        <% }else if(e.r_a!="d" && e.c_a!="d"){ %>
                            <p>
                                <input type="radio" class="with-gap" disabled="disabled" />
                                <span class="grey-text text-darken-3"><%= e.d %></span>
                            </p>    
                        <% } %>
                        
                        <div class="divider"></div>
                    <%  }) %>    
                </div>
                <div id="test-swipe-3" class="col s12">
                    <% uA.forEach(e=>{ %>
                        <h5>Question:<%= e.q_id %></h5>
                        <p><%= e.q_data %></p>
                            <% if(e.r_a=="a"){ %>
                                <p class="green">
                                    <input type="radio" class="with-gap" disabled="disabled"/>
                                    <span class="grey-text text-darken-3"><%= e.a %></span>
                                </p> 
                            <% } else if(e.r_a!="a"){ %>
                                <p>
                                    <input type="radio" class="with-gap" disabled="disabled"/>
                                    <span class="grey-text text-darken-3"><%= e.a %></span>
                                </p>
                            <% } %>

                            <% if(e.r_a=="b"){ %>
                                <p class="green">
                                    <input type="radio" class="with-gap" disabled="disabled"/>
                                    <span class="grey-text text-darken-3"><%= e.b %></span>
                                </p> 
                            <% } else if(e.r_a!="b"){ %>
                                <p>
                                    <input type="radio" class="with-gap" disabled="disabled"/>
                                    <span class="grey-text text-darken-3"><%= e.b %></span>
                                </p>
                            <% } %>

                            <% if(e.r_a=="c"){ %>
                                <p class="green">
                                    <input type="radio" class="with-gap" disabled="disabled"/>
                                    <span class="grey-text text-darken-3"><%= e.c %></span>
                                </p> 
                            <% } else if(e.r_a!="c"){ %>
                                <p>
                                    <input type="radio" class="with-gap" disabled="disabled"/>
                                    <span class="grey-text text-darken-3"><%= e.c %></span>
                                </p>
                            <% } %>

                            <% if(e.r_a=="d"){ %>
                                <p class="green">
                                    <input type="radio" class="with-gap" disabled="disabled"/>
                                    <span class="grey-text text-darken-3"><%= e.d %></span>
                                </p> 
                            <% } else if(e.r_a!="d"){ %>
                                <p>
                                    <input type="radio" class="with-gap" disabled="disabled"/>
                                    <span class="grey-text text-darken-3"><%= e.d %></span>
                                </p>
                            <% } %>
                           
                        <div class="divider"></div> 
                     <%})%>          
                </div>
        </div>
    </div>
</section>
<%- include('../partials/footer') %>